.kongbai{
	margin-left: 650px;
	margin-top: 90px;
}
.xiangyou{
	margin-left: -2px;
}
.zhuce{
	margin-top: -40px;
	margin-left: 70px;
}
.yanse{
	color: #f4011e;
}
.suo{
	margin-left: -2px;
}
.zuo{
	margin-left:80px;
}
.zuo1{
	margin-left:40px;
}
.zuo2{
	margin-left:10px;
}
.zuo3{
	margin-left: -6px;
}
body{
	background-size:115%; 
	background-repeat: no-repeat;
	background-image: url(../image/bg.jpg);
}
.hua{
	margin-top:-400px;
	margin-left: -300px;
}
.hua1{
	margin-top:-80px;
	margin-left: -325px;
}
.erji{
	margin-top: -350px;
	margin-left: 280px;
}
.music2{
	margin-top: 70px;
	margin-left: 350px;
}