<html>
	<head>
		<title>注册页面</title>
	</head>
	<link rel="stylesheet" href="{{url_for('static',filename='css/register3.css')}}"/>
	<body id="body">
		<a href="login">直接登陆</a>
		<div class="register">
			<h1>注册</h1>
			<form action="/user/register" name="myform" enctype="multipart/form-data" method="post">
				<p>
					<label>用户名:</label>
					<input type="text" name="username" placeholder="username" id="username"/>
				</p>
				<p>
					<label>密&nbsp;&nbsp;&nbsp;码:</label>
					<input type="password" name="password" id="password"/>
				</p>
				<p>
					<input type="radio" name="user" value="1"/>&nbsp;&nbsp;管理员
					<input type="radio" name="user" value="0" />&nbsp;&nbsp;普通用户
				</p>
				<p>
					<label>姓&nbsp;&nbsp;&nbsp;名:</label>
					<input type="text" name="uname" placeholder="姓名"/>
				</p>
				<p>
					<label>出生日期:</label>
					<input type="date" name="birthday" placeholder="出生日期"/>
				</p>
				<p>
					<label>学历:</label>
					<input type="radio" name="xueli" value="初中"/> 初中
					<input type="radio" name="xueli" value="高中"/> 高中
					<input type="radio" name="xueli" value="中专"/> 中专
					<input type="radio" name="xueli" value="大专"/> 大专
					<input type="radio" name="xueli" value="本科"/> 本科
					<input type="radio" name="xueli" value="研究生"/> 研究生
					<input type="radio" name="xueli" value="博士"/> 博士
				</p>
				<p>
					<label>性别:</label>
					<input type="radio" name="gender" value="0"/> 男
					<input type="radio" name="gender" value="1"/> 女
				</p>
				<!-------需要添加一个验证码-------->
				<!--------使用随机密码进行验证-------------->
				<p>
					
				</p>
				<p>
					<input type="submit" value="注册"/>
					<input type="button" value="取消" id="cancle"/>
					<input type="button" value="返回" id="returnIndex"/>
				</p>
			</form>
		</div>
	</body>
	<script type="application/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script type="application/javascript" src="{{url_for('static',filename='js/clear1.js')}}"></script>
	<script>
		returnIndex = document.getElementById("returnIndex");
		returnIndex.addEventListener("click",function(){
			self.location = "/user/login";
		});
	</script>
	<script>
		var vbody = document.getElementById("body");
		{% if systemvalue.get('bg') == "01" %}
			vbody.style.background = "blue";
		{% elif systemvalue.get('bg') == "02" %}
			vbody.style.background = "yellow";
		{% else %}
			vbody.style.background = "red";
		{% endif %}
	</script>
	<script>
		var vbody = document.getElementById("body");
		{% if systemvalue.get('fontcolor') == "41" %}
			vbody.style.color = "green";
		{% elif systemvalue.get('fontcolor') == "42" %}
			vbody.style.color = "blue";
		{% else %}
			vbody.style.color = "yellow";
		{% endif %}
	</script>
	<script>
		var vbody = document.getElementById("body");
		{% if systemvalue.get('fontsize') == "31" %}
			vbody.style.fontSize = "24px";
		{% elif systemvalue.get('fontsize') == "32" %}
			vbody.style.fontSize = "36px";
		{% else %}
			vbody.style.fontSize = "12px";
		{% endif %}
	</script>
	<script>
		var vbody = document.getElementById("body");
		{% if systemvalue.get('transparency') == "21" %}
			vbody.style.opacity = 0.7;
		{% elif systemvalue.get('transparency') == "22" %}
			vbody.style.opacity = 1;
		{% else %}
			vbody.style.opacity = 0.3;
		{% endif %}
	</script>
</html>