a{
	margin-top: 10px;
	text-decoration: none;
	font-size: 20px;
	color: blueviolet;
	float: right;
}
a:hover{
	color: #A52A2A;
}
a:active{
	color: mediumvioletred;
}

.login{
	margin-left: 35%;
	margin-top: 5%;
	text-align: center;
	background: white;
	width: 400px;
	height: 300px;
}

.login h1{
	text-align: center;
	font-size: 34px;
	margin-bottom: 20px;
}

.login p{
	text-align: center;
	margin-top: 5px;
}

.login label{
	font-style: oblique;
}

.login input{
	padding: 2px;
	margin-left: 5px;
}

.login input:last-child{
	margin-left: 15px;
}