a{
	margin-top: 10px;
	text-decoration: none;
	font-size: 20px;
	color: blueviolet;
	float: right;
}
a:hover{
	color: #A52A2A;
}
a:active{
	color: mediumvioletred;
}

.register{
	text-align: left;
	background: white;
	width: 400px;
	height: 600px;
	margin-left: 35%;
	margin-top: 5%;
}

.register h1{
	font-size: 36px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.register p{
	margin-top: 20px;
}

.register p:last{
	text-align: center;
}

.register p:last input{
	margin-left: 10px;
}

.register label{
	font-style: oblique;
}